.control_wrapper {
  border: dashed;
  color: lightgrey;
  border-radius: 10px;
}
.e-upload {
  background-color: lightgray;
  border: none;
  border-radius: 10px;
}
#content {
  color: black;
}
a#browse {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
span#type {
  margin: 10px 0px 10px 0px;
  display: block;
  color: black;
}
#button {
  background-color: deepskyblue;
  color: white;
  border-radius: 25px;
  margin-left: 20px;
}
.fa-upload {
  color: black;
  margin: 0px 0px 10px 60px;
  align-content: center;
  display: block;
}
.fa-folder {
  margin: 5px;
}
.e-upload .e-file-select-wrap {
  padding: 16px 0 16px 38px;
}
.control_wrapper {
  max-width: 250px;
  min-width: 245px;
  margin: auto;
}

.e-upload-actions {
  display: none;
}
